logs
project/project
project/target
target
lib_managed
tmp
.history
dist
.idea/
/*.iml
/*.ipr
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
**/.terragrunt-cache
**/.terraform
**/terraform.tfstate
*.swp
temp_providers.tf
.DS_Store
venv/
.vscode/

